/*--------------------------------GLOBAL DEFAULTS*/
body {
    background-color: oldlace;
    }
    h1 {
        text-align:center;
        font-size: 60px;
        font-family: 'Heebo', sans-serif;
        color: #d56c3d;
        
    }
    h2{
        text-align: center;
        font-size: 30px;
    font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        color: #d56c3d;
    }
    
    h3{
    color: grey;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
     }

     h4{ 
         color: gray;
         font-size: 18px;
         font-family: Arial, Helvetica, sans-serif;


     }
    /*------------------------------------- BODY TEXTS*/
    body{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;
        line-height: 1.6;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
        
    }
    footer{
        background-color: #415fcc ;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #d56c3d;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif; 
        font-weight: bold;
    }
    
    header{
        background-color: #415fcc;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    
    header h1{
        margin-top: 0;
    }
    
          .img-container {
            text-align: center;
            display: block;
          }
    img{
        text-align: center;
    max-width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 10px;
    }
    

    ul {
        text-align: center;
        }
        
        li {
        display: inline-block;
        }

    nav ul {
        list-style: none;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
        font-weight: bold;
    }

    nav li {
        margin-left: 70px;
        margin-right: 70px;
        padding-top: 40px;
    }
 


    
    
      /*---------------------------------------- LAYOUTS */
      .content {
    
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
      }

      .img-only {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }