/*--------------------------------GLOBAL DEFAULTS*/
body {
background-color: oldlace;
}
h1 {
    text-align:center;
    font-size: 40px;
    font-family: 'Heebo', sans-serif;
    color: #d56c3d;
    
}
h2{
    font-size: 30px;
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #415fcc;
}

h3{
color: grey;
font-size: 28px;
font-family: Arial, Helvetica, sans-serif;

}
/*------------------------------------- BODY TEXTS*/
body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    line-height: 1.6;

    
}

img{
max-width: 100%;
}

  /*---------------------------------------- LAYOUTS */
  .content {

max-width: 1000px;
margin-left: auto;
margin-right: auto;
  }

