


/*------------------------VARIABLES*/

:root {

  --main-bg-color: oldlace; 


}






/*--------------------------------GLOBAL DEFAULTS*/

html {
scroll-behavior: smooth; /* silky smoooooooooth scrolling*/
}


body {
    background-color: var(--main-bg-color);
    }
    h1 {
        text-align:center;
        font-size: 60px;
        font-family: 'Heebo', sans-serif;
        color: #d56c3d;
        
    }
    h2{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 24px;
        left: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: #415fcc; 
      }
    
    h3{
    color: grey;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
     }

     h4{ 
         color: gray;
         font-size: 18px;
         font-family: Arial, Helvetica, sans-serif;


     }
    /*------------------------------------- BODY TEXTS*/
    body{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;
        line-height: 1.6;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
        
    }
    footer{
        background-color: #415fcc ;
        padding-top: 10px;
        padding-bottom: 10px;
        color: oldlace;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif; 
        font-weight: bold;
    }
    
  
    
    header h1{
        margin-top: 0;
    }
    
          .img-container {
            text-align: center;
            display: block;
          }
    
    h2{

        padding-top: 20px;
    }
    
    
    
    
          img{
    
    max-width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 10px;
    }
    

    ul {
        text-align: center;
        }
        
        li {
        display: inline-block;
        }

    nav ul {
        list-style: none;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
        font-weight: bold;
    }

    nav li {
        margin-left: 70px;
        margin-right: 70px;
        padding-top: 40px;
    }
 


    
    
      /*---------------------------------------- LAYOUTS */



.to-about {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 24px;
  left: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #415fcc;

}

.to-about:hover {
  color: #d56c3d;
}



      .content {
    
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
      }


      .content a{
text-decoration: none;

      }

      .row::after {
        content: "";
        clear: both;
        display: table;
      }
     
      .img-logo {
        position:absolute;
left:150px;
top:20px;
      }

      .img-logo-right {
        position:absolute;
right:150px;
top:20px;
      }


      .img-logo img,
      .img-logo-right img {
max-width: 150px;
}

@media screen and (min-width: 600px) {

  .img-logo,
  .img-logo-right {
    top: 10px;
  }

  .img-logo img,
  .img-logo-right img {
    max-width: 100%;
  }
}
  

    @media screen and (min-width: 500px) { 
    .news-component-columns {
    grid-template-columns: 1fr 1fr; /* once over 500px, we see 2 cols*/ }
    }
  
    